*{
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: 'Bahnschrift Condensed', sans-serif;
}

.scroll::-webkit-scrollbar
{
  width: 0;
}

.tabs
{
  display: none;
}

.active-tab
{
  background-color: white;
  border-top: 3px solid #081A51;
}